params {
    input_file = "data/GSE72056_melanoma_single_cell.txt.gz"
    outdir = "results"
}

process {
    cpus = 2
    memory = "4 GB"
}

profiles {
    conda {
        conda.enabled = true
        conda = "envs/env.yml"
    }

    docker {
        docker.enabled = true
        container = "ghcr.io/young-sudo/r-melanoma-pipeline:latest"
        singularity.enabled = true
    }

    standard {
        executor = "local"
    }
}
